<div class="row">

  <!-- For now, only admin users can edit, but anyone can submit -->
  <div *ngIf="(user$ | async)?.roles?.admin || (location$ | async) === null" class="col-lg-6">

    <div class="card mt-3">

      <div class="card-body">

        <form [formGroup]="locationForm">

          <h5 class="card-title">
            {{ heading[0] }}
            <small class="text-muted">{{ heading[1] }}</small>
          </h5>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Name
              </span>
            </div>
            <input type="text" formControlName="name" class="form-control" autocomplete="new-password">
            <div class="invalid-feedback" [class.active]="name.errors?.required && locationForm.touched">
              Name is mandatory.
            </div>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text">Category</label>
            </div>
            <select formControlName="category" class="custom-select">
              <option *ngFor="let option of (categories$ | async)" [value]="option">
                {{ option }}
              </option>
            </select>
            <div class="invalid-feedback" [class.active]="category.errors?.required && locationForm.touched">
              Category is mandatory.
            </div>
          </div>

          <div formArrayName="tags" class="form-group">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle mb-1" type="button" data-toggle="dropdown">
                Tags
              </button>
              <div class="dropdown-menu">
                <a *ngFor="let tag of availableTags(tags$ | async)" (click)="addTag(tag)" class="dropdown-item">{{ tag }}</a>
              </div>
            </div>
            <div class="form-group">
              <button *ngFor="let tag of tags.controls; let i=index" (click)="removeTag(i)" class="btn btn-outline-info btn-sm mr-1 mb-1">
                {{ tag.value }}
                <span class="ml-2">&times;</span>
              </button>
            </div>
          </div>

          <div class="custom-control custom-switch mb-2">
            <input (click)="toggleCoordinates($event.target.checked)" type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">
              Coordinates
            </label>
          </div>

          <div *ngIf="!coordinatesToggle" class="input-group mb-0">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Address
              </span>
            </div>
            <input formControlName="address" (focus)="addressInFocus = true" (blur)="addressInFocus = false" class="form-control" autocomplete="new-password">
            <div class="invalid-feedback" [class.active]="address.dirty && !addressInFocus && (address.value !== selectedAddress || !googlePlaceId)">
              Please select address from autocomplete list, or enter coordinates.
            </div>
          </div>

          <div *ngIf="addressInFocus && addressLoading" class="spinner-border mt-1" role="status">
            <span class="sr-only">Loading...</span>
          </div>

          <ul *ngIf="!coordinatesToggle" class="list-group mb-3">
            <a  *ngFor="let suggestion of addressSuggestions" (click)="setAddress(suggestion)" class="list-group-item list-group-item-action" [routerLink]="">
              {{ suggestion.address }}
            </a>
          </ul>

          <div formGroupName="coordinates" class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Coordinates</span>
            </div>
            <input [readonly]="!coordinatesToggle" type="text" formControlName="latitude" placeholder="Latitude" class="form-control">
            <input [readonly]="!coordinatesToggle"  type="text" formControlName="longitude" placeholder="longitude" class="form-control">
            <div class="invalid-feedback" [class.active]="(latitude.errors || longitude.errors) && locationForm.touched">
              Valid coordinates are mandatory.
            </div>
          </div>

          <!-- If this map is removed, the 'powered by Google' image must be displayed in the autocomplete dropdown. See https://developers.google.com/places/web-service/policies#logo_requirements -->
          <iframe *ngIf="showMap" width="100%" frameborder="0" style="border:0" class="mb-3"
          [src]="mapUrl" allowfullscreen></iframe>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Description
              </span>
            </div>
            <textarea rows="3" formControlName="description" class="form-control"></textarea>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Web URL
              </span>
            </div>
            <input type="url" formControlName="webUrl" class="form-control">
            <div class="invalid-feedback" [class.active]="webUrl.errors?.pattern && locationForm.touched">
              Enter a full URL including http/https
            </div>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                WhatsApp URL
              </span>
            </div>
            <input type="url" formControlName="whatsAppUrl" class="form-control">
            <div class="invalid-feedback" [class.active]="whatsAppUrl.errors?.pattern && locationForm.touched">
              Enter a full URL starting with http/https://...
            </div>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Email
              </span>
            </div>
            <input type="email" formControlName="email" class="form-control">
            <div class="invalid-feedback" [class.active]="email.errors?.email && locationForm.touched">
              Enter a valid email address
            </div>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Telephone
              </span>
            </div>
            <input type="text" formControlName="telephone" class="form-control">
            <div class="invalid-feedback" [class.active]="telephone.errors?.pattern && locationForm.touched">
              Enter a full telephone number starting with '+'
            </div>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                NPO/NGO number
              </span>
            </div>
            <input type="text" formControlName="registration" class="form-control">
          </div>

        </form>

      </div>

    </div>

    <div *ngIf="(alert$ | async) as alert" class="alert my-3" [ngClass]="'alert-' + alert?.type" role="alert">
      {{ alert?.text }}
    </div>

    <button *ngIf="path === 'submit'" (click)="submit()" [disabled]="!locationForm.valid || locationForm.pristine" class="btn btn-primary m-2">
      Submit
    </button>

    <ng-container *ngIf="(user$ | async)?.roles?.admin && collection === 'pending-locations'">
      <button (click)="save()" [disabled]="!locationForm.valid || locationForm.pristine" class="btn btn-primary m-2">
        Save
      </button>
      <button (click)="delete()" class="btn btn-danger m-2">
        Delete
      </button>

    </ng-container>

    <button *ngIf="(user$ | async)?.roles?.admin && path !== 'submit'" (click)="publish()" [disabled]="!locationForm.valid || (locationForm.pristine && collection === 'locations')" class="btn btn-primary m-2">
      Publish
    </button>

  </div>

  <div class="col-lg-6">

    <app-location [location]="location$ | async" [collection]="collection" [single]="true">
    </app-location>

  </div>

</div>
