<div class="jumbotron">
  <h1 class="display-4">Hi {{ (authUser$ | async)?.displayName || (authUser$ | async)?.phoneNumber }}</h1>
  <p class="lead">This is where data for the <a href="https://covid-action-map.web.app/" target="_blank">covid-action map</a> can be maintained.</p>
  <hr class="my-4">
  <ng-container *ngIf="(user$ | async)?.roles?.admin">
    <p *ngIf="(pendingLocationCount$ | async) > 0">
      There are <a routerLink="/pending-locations">{{ (pendingLocationCount$ | async) }} pending locations</a> to publish.
    </p>
  </ng-container>
  <ng-container *ngIf="authUser$ | async">
    <button routerLink="/locations/submit" class="btn btn-primary my-3">
      Submit a location
    </button>
  </ng-container>
</div>
