<div *ngIf="location" class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">
      <a *ngIf="!single; else singleLocationView" [routerLink]="['/locations', 'active', location.id]">
        {{ location.name }}
      </a>
      <ng-template #singleLocationView>
        {{ location.name }}
      </ng-template>
      <span class="badge badge-secondary">
        {{ location.category }}
      </span>
    </h5>
    <p>
      <span *ngFor="let tag of location.tags" class="badge badge-info mr-1">
        {{ tag }}
      </span>
    </p>
    <p class="card-text" [class.line-clamp]="!single">
      {{ location.description }}
    </p>
    <p>
      <small class="text-muted">Coordinates: {{ location.coordinates.latitude + ', ' + location.coordinates.longitude }}
      </small>
    </p>
  </div>
  <div *ngIf="single" class="list-group list-group-flush">
    <a *ngIf="location.webUrl" [href]="location.webUrl" target="_blank" class="list-group-item list-group-item-action">
      Web
    </a>
    <a *ngIf="location.whatsAppUrl" [href]="location.whatsAppUrl" target="_blank" class="list-group-item list-group-item-action">
      WhatsApp
    </a>
    <a *ngIf="location.email" [href]="'mailto:' + location.email" target="_blank" class="list-group-item list-group-item-action">
      {{ location.email }}
    </a>
    <a *ngIf="location.telephone" [href]="'tel:' + location.telephone" target="_blank" class="list-group-item list-group-item-action">
      {{ location.telephone }}
    </a>
  </div>
</div>
